@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
}
div.about{
  width: 60%;
}
p.about,.ul-about,.ol-about{
  font-family: 'Lora', serif;
  font-size: large;
}

h1.about,h2.about,h3.about{
  font-family: 'PT Mono', monospace;
}
