@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

:root {
  /* fonts */
  --font-pangolin: "Pangolin";

  /* font sizes */
  --font-size-7xl: 26px;
  --font-size-sm: 14px;
  --font-size-15xl: 34px;

  /* Colors */
  --color-maroon: #800000;
  --color-saddlebrown: #8b4513;
  --color-lightpink: #ecacac;
  --color-black: #000;
  --color-beige: #ffffed;
  --color-saffron: #FF9933;
  --color-green: #228B22;

  /* Gaps */
  --gap-smi: 13px;

  /* Paddings */
  --padding-6xs: 7px;
  --padding-4xs: 9px;
}