.left-dashboard {
  position: fixed;
  top: 60px; /* height of header */
  left: 0;
  bottom: 60px; /* height of footer */
  width: 250px; /* width of dashboard */
  background-color: yellowgreen;
  min-height: 40vh;
  overflow-y: auto;
}