.talksphere-container{
  display: flex;
  flex-direction: column; 
  height: 80vh; 
  margin: 10px;
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
}
.talk-head{
  display: flex; 
  padding: 1rem; 
  justify-content: space-between; 
  align-items: center; 
  border: 1px solid #dfe1e5;
}
.talksphere{

  font-size: 1rem;
  line-height: 1.5rem; 
  font-weight: 450; 
  color: #1F2937;
  text-align: center;
  background-color: #F3F4F6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none; 
  outline: none;
  padding: 7px;
  transition: 0.4s;
  border-radius: 5px;
}
.talksphere:hover{
  background-color: #e3e3e3;
  transition: 0.4s;
}
.talk-online{
  display: flex; 
  margin-left: 0.5rem; 
  align-items: center; 
  color: black;
}
.chatbox{
  overflow-y: auto; 
  padding: 1rem;  
  flex: 1 1 0%; 
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);

}
.send{
  display: flex; 
  padding: 1rem; 
  align-items: center; 
  border-top-width: 1px;
  border: 1px solid #E5E7EB ; 
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}
.message{
  margin-right: 0.5rem; 
  flex: 1 1 0%; 
  color: #1F2937; 
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  height: 45px;
}
.message::placeholder{
  color: #595959;
  font-size: larger;
}
button.talk{
  color: #ffffff;
  background-color: #3B82F6; 
  padding: 5px;
  height: 35px;
  width: 60px;
}
talk:hover{
    background-color: #2563EB; 
}

.chatbox {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.chat-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.avatar {
  margin-right: 10px;
}

.message-content {
  flex-grow: 1;
  border: 0.1rem solid rgb(132, 132, 132);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 1rem;
  padding-left: 1rem;
}