.joyjuction-container{
    margin: 10px;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.joy-head{
    text-align: center;

}
.joy-main{
    height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    display: grid;
    grid-template-rows: 50% 50%;

}
h1.joy{
    text-align: center;
}
.joy-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-width: 100%;
}
.games-container{
    height: 50%;
    margin-left: 20%;
    min-width: 80%;
}
.games-card-container{
    display: flex;
    flex-direction: row;
    gap: 18rem;
    padding-left: 8rem;
    padding-top: 4rem;
}
.game-card {
    width: 200px;
    height: 250px;
    background: #262626;
  }
  
  .GameIcon {
    transform: translate(-80px,-50px);
    position: absolute;
    width: 200px;
    height: 200px;
    transition: 0.3s;
  }
  
  .GameImg {
    width: 100%;
    height: 100%;
  }
  
  .Gfooter {
    width: 100%;
    height: 0%;
    background-color: #262626;
    border-radius: 10px;
    transition: all 0.3s;
  }
  
  .Name {
    transform: translate(10px,200px);
    position: absolute;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
    color: #ff5858;
  }
  
  .SmallIcon{
    width: 0px;
    height: 0px;
    transform: translate(10px,10px);
    border-radius: 10px;
    transition: 0.2s;
  }
  img.game-icon{
    width: 0px;
    height: 0px;
    transform: translate(10px,10px);
    border-radius: 10px;
    transition: 0.2s;
  }
  
  .Descripion {
    padding: 10px;
    position: absolute;
    transform: translate(0px,20px);
    width: 13rem;
    margin-top: 1rem;
    opacity: 0%;
    color: #ff5858;
    font-weight: bold;
    font-size: 13px;
  }
  
  .StarIcon {
    transform: translate(-0px,25px);
    width: 20px;
    fill: #ebd300;
  }
  
  .Stars {
    position: absolute;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transform: translate(80px,-70px);
  }
  
  .GameImg:hover .Descripion {
    opacity: 100%;
  }
  
  .GameImg:hover .Gfooter {
    width: 100%;
    height: 100%;
  }
  
  .GameImg:hover .SmallIcon{
    width: 55px;
    height: 55px;
  }
  .GameImg:hover .SmallIcon img.game-icon{
    width: 55px;
    height: 55px;
  }
  
  .GameImg:hover .Name {
    transform: translate(83px,-235px);
  }
  
  .GameImg:hover .GameIcon {
    transform: translate(100px,-160px);
  }
  /* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(0, 0, 0, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
  .quiz-container{
    height: 50%;
    min-width: 80%;
}
.quiz-card-container{
    display: flex;
    flex-direction: row;
    gap: 18rem;
    padding-left: 3rem;
    padding-top: 2rem;
}
  .quiz-card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .quiz-card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .quiz-card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    cursor: pointer;
   }
   
   .quiz-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .quiz-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .quiz-card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .quiz-card:hover .quiz-card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }