@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Yatra+One&display=swap');
.main{
    background-color:#f4e3e3;
}
.main-container{
    align-items: center;
    display: flex;
    height: 20vh;
    justify-items: center;
    padding: 9rem;
    margin: 20px;
}
.main-head{
    font-size :xx-large;
    color: var(--color-maroon);
    font-weight:bold;
    margin-bottom:1;
    letter-spacing: 5px;
    font-family: 'Yatra One', system-ui;
}
.main-content{
    text-align: left;
    color: var(--color-saddlebrown);
    font-family: 'Rakkas', serif;
    font-size: large;
    width: 700px;
}
.text{
    width: 900px;
}
.main-data{
    display: flex;
    justify-content: center;
}
.services{
    background-color: rgb(255, 225, 214);
    margin-bottom: 1;
}
.services-container{
    padding: 10%;
}
.services-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10%;
    
  }
  
  .service-type {
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
  }
    .theme{
    width: 400px;
    height: 400px;
    padding-top: 2.8rem;
  }
  .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-weight: 700;
    color:green;
    border: 3px solid rgb(255, 158, 90);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 158, 90);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
    color: beige;
   }
   
   .btn:hover::before {
    transform: translateX(0);
    color: beige;
   }
   .heading{
    font-size :400%;
    margin-top: 1;
    color: var(--color-maroon);
    font-weight:bold;
    letter-spacing: 5px;
    font-family: 'Yatra One', system-ui;
    text-align: center;

   }
   .card-container {

    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 25%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  .card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card .front-content p {
    font-size: 60px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: left;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    color: #e8e8e8;
    padding: 20px;
    padding-right: 30px;
    border-radius: 5px;
    pointer-events: none;
    transform: translatex(96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .content .heading {
    font-size: 50px;
    font-weight: 700;
  }
  
  .card:hover .content {
    transform: translateY(0);
  }
  
  .card:hover .front-content {
    transform: translateX(20%);
  }
  
  .card:hover .front-content p {
    opacity: 0;
  }
  .details{
    width: 96.8%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
  }
  .content{
    word-wrap:initial;
  }
  .pages {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  .pages:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  