@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Yatra+One&display=swap');
.main{
    background-color:#f7f4ec;
}
.main-container{
    align-items: center;
    display: flex;
    height: 20vh;
    justify-items: center;
    padding: 9rem;
    margin: 20px;
}
.main-head{
    font-size :xx-large;
    color: var(--color-maroon);
    font-weight:bold;
    letter-spacing: 5px;
    font-family: 'Yatra One', system-ui;
}
.service-head{
  font-size :80px;
  color: var(--color-saddlebrown);
  font-weight:bold;
  margin-bottom:1;
  letter-spacing: 5px;
  font-family: 'Yatra One', system-ui;
}
.main-content{
    text-align: left;
    color: var(--color-saddlebrown);
    font-family: 'Rakkas', serif;
    font-size: large;
    width: 700px;
}
.text{
    width: 900px;
}
.main-data{
    display: flex;
    justify-content: center;
}
.services{
    background-color: rgb(255, 246, 243);
    margin-bottom: 1;
}
.services-container{
    padding: 10%;
}
.services-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10%;
    
  }
  
  .service-type {
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
  }
    .theme{
    width: 400px;
    height: 400px;
    padding-top: 2.8rem;
  }
  .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-weight: 700;
    color:green;
    border: 3px solid rgb(255, 158, 90);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 158, 90);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
    color: beige;
   }
   
   .btn:hover::before {
    transform: translateX(0);
    color: beige;
   }
   .heading{
    font-size :400%;
    margin-top: 1;
    color: var(--color-maroon);
    font-weight:bold;
    letter-spacing: 5px;
    font-family: 'Yatra One', system-ui;
    text-align: center;

   }
   h1.type{
    font-family: 'Noto Serif', serif;
    color: var(--color-maroon);
    font-size: 60px;
}
.home-service-container{
    display: flex;
    background-color: rgb(255, 247, 236);
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.service-home{
    background-color: rgb(250, 243, 233);
    width: 80%;
    height: 100%;
    margin-bottom: 1;
}
.type-box{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 40% 40% 20%;
    row-gap: 0px;
}
.type1{
    width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 10% 20% 10% 20% 10% 20% 10%;
}
.type-container{
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px  rgba(0,0,0,.3);
    overflow: hidden;
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.type-card{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.type-card .type-cover{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.type-card .type-cover p.type-head{
    font-size: 50px;
    font-weight: 700;
    opacity: 1;
    font-family: 'Aleo', serif;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.type-card .type-content{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background: linear-gradient(-45deg, #f89b29 0%,#ff0f7b 100%) ;
    color: #e8e8e8;
    border-radius: 5px;
    pointer-events: none;
    transform: translateX(96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
h2.type{
    font-size: 40px;
    font-weight: 900;
    font-family: 'Josefin Slab', serif;

}
.type-card:hover .type-content{
    transform: translateY(0);
}
.type-card:hover .type-cover{
    transform: translateX(20%);
}
.type-card:hover .type-cover .type-head{
    opacity: 0;
}
.type-des{
    max-width: 80%;
    font-size: large;
    font-family: 'Diphylleia', serif;
    font-weight: bold;
}
