footer{
    bottom: 0;
    width: 100%;
}
.footer-container{
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: burlywood;
    width: 98.4%;
    display: flex;
    justify-content: center;
    bottom: 0;

}
.footer-data{
    display: flex;
    justify-content: center;
    bottom: 0;
}
.content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
}
li{
    list-style: none;
}

