@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@500&display=swap');
.navbar{
    background-color: beige;
    height: 6rem;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 35% 45%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 8px rgb(201, 201, 201);
}
.logo{
    height: 80%;
}
.brand{
    height: 100%;
    padding-left: 10px;

}
.nav-links-container{
    width: 93%;
    align-items: center;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: space-between;
}
.nav-link{
    text-decoration: none;
    color: var(--color-saddlebrown);
    font-size: 19px;
    padding: 1rem 2rem;
    position: relative;
    font-family: 'Cairo Play', sans-serif;
    color: var(--color-saddlebrown);
}
.nav-link::before,
.nav-link::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-green);
    transform: scaleX(0);
    transition: all 0.6s ease;
}
.nav-link::before{
    top:0;
    left: 0;
    transform-origin: left;
}
.nav-link::after{
    bottom: 0;
    left: 0;
    transform-origin:right ;
}
.nav-link:hover::before,.nav-link:hover::after{
    transform: scaleX(1);
}
button.ed-register {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid var(--color-green);
    border-radius: 4px;
    background-color: var(--color-beige);
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Cairo Play', sans-serif;
    color: var(--color-green);
    z-index: 1;
  }
  
  button.ed-register:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: var(--color-green);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  button.ed-register:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--color-green);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  button.ed-register:hover {
    color: var(--color-beige);
    border: 1px solid var(--color-green);
  }
  
  button.ed-register:hover:before {
    top: -35%;
    background-color: var(--color-green);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  button.ed-register:hover:after {
    top: -45%;
    background-color: var(--color-green);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  